<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="18.5.1" targetFramework="net452" />
  <package id="Aspose.PDF" version="18.5.0" targetFramework="net452" />
  <package id="Aspose.Slides.NET" version="18.4.0" targetFramework="net452" />
  <package id="Aspose.Words" version="18.5.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="NetSword.Common.ICSharpCode.SharpZipLib" version="0.84.0" targetFramework="net452" developmentDependency="true" />
  <package id="Unity" version="5.8.6" targetFramework="net452" />
</packages>